! Configuration File for keepalived

global_defs {
   notification_email {
     {{ notify_email }}
   }
   notification_email_from {{ notify_email_from }}
   smtp_server {{ smtp_server }}
   smtp_connect_timeout 30
   router_id  k8s_cluster
   vrrp_mcast_group4 {{ vrrp_mcast_group }}
}

vrrp_script CheckK8sMaster {
    script "curl -k https://{{ www_vip }}:6443"
    interval 3
    timeout 9
    fall 2
    rise 2
}

vrrp_instance VI_1 {
    state {{ state }}
    interface {{ interface }}
    virtual_router_id  {{ virtual_router_id }}
    priority {{ priority }}
    advert_int 1
    mcast_src_ip {{ hostvars[inventory_hostname]['inner_ip'] }}
    authentication {
        auth_type PASS
        auth_pass {{ auth_pass }}
    }
    unicast_peer {
  {% for host in groups['k8s_api_servers'] %}
  {% if host != inventory_hostname %}
  {{ hostvars[host]['inner_ip'] }}
  {% endif %}
  {% endfor %}
    }
    virtual_ipaddress {
       {{ www_vip }}
    }
    track_script {
        CheckK8sMaster
    }
}

